@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --menubackground:#1eb35b;
  --color-brand: #1eb35b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
 :root[data-theme="dark"] {
  --foreground: #ffffff;
  --background: #ffffff;
  --menubackground:#1eb35b;
  --color-brand: #1eb35b;
}
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-iranyekan), sans-serif;
}
html, body {
  font-family: var(--font-iranyekan), sans-serif !important;
}
.ant-table-thead > tr > th {
  background-color: #1eb35b !important;
  color: white !important;
  font-weight: bold;
}
.ant-table-thead > tr > th:hover {
  background-color: #169a4a !important;
}
.ant-table-pagination {
  display: flex !important;
  justify-content: flex-start !important;
}
.Toastify__toast {
  font-family: var(--font-iranyekan), sans-serif !important;
}
.container-custom {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}
.swiper-pagination {
  margin-top: 12px;
  position: relative !important;
}
.footer-container{
  background-color: #169a4a;


/* globals.css */

.custom-responsive-drawer .ant-drawer-content {
  overflow: hidden;
}

/* Mobile Bottom Sheet */
@media (max-width: 768px) {
  .custom-responsive-drawer .ant-drawer-content-wrapper {
    border-radius: 20px 20px 0 0;
    overflow: hidden;
  }

  .filter-sheet .ant-drawer-content-wrapper {
    height: 100vh !important;
  }

  .updates-sheet .ant-drawer-content-wrapper {
    height: 55vh !important;
  }
}

/* 💻 Desktop */
@media (min-width: 768px) {
  .custom-responsive-drawer .ant-drawer-content-wrapper {
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.06);
  }
}}